</body>

<footer>
    <section class="footer-col-logo">
        <img src="/assets/visual-thinking-logo-footer.svg">
    </section>

    <section class="footer-col-1">
        <ul>
            <li class="footer-bold">Over</li>
            <li class="footer-bold">Blog</li>
            <li class="footer-bold">Tekenmethodes</li>
        </ul>
    </section>

    <section class="footer-col-2">
        <ul>
            <li class="footer-bold">Categorieën</li>
            <li>Onderzoeken en begrijpen</li>
            <li>Organiseren en plannen</li>
            <li>Leren over jezelf</li>
            <li>Leren over anderen</li>
            <li>Communiceren en presenteren</li>
            <li>Creatief Denken</li>
        </ul>
    </section>

    <section class="footer-col-3">
        <ul>
            <li class="footer-bold">Contact</li>
            <li>
                <span class="footer-social-media">
                    <img src="/assets/social-media-icons/twitter.svg" >
                </span>
                <span class="footer-social-media">
                    <img src="/assets/social-media-icons/instagram.svg" >
                </span>
                <span class="footer-social-media">
                    <img src="/assets/social-media-icons/tiktok.svg" >
                </span>
                <span class="footer-social-media">
                    <img src="/assets/social-media-icons/youtube.svg" >
                </span>
            </li>
            <li>© Charley Muhren, 2022</li>
        </ul>
    </section>
</footer>

</html>