<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Visual Thinking living styleguide</title>
  <link rel="stylesheet" href="styles/style.css" />
  <link rel="stylesheet" href="https://use.typekit.net/brx3lyu.css" />
  <!-- rigid square font -->
  <link rel="stylesheet" href="https://use.typekit.net/kdb0mcl.css" />
  <!-- yrsa font -->
</head>

<body>
  <header>
    <nav class="navbar">
      <a href="index.html">
        <img src="assets/vtHBO-v1.0-Logo_1.svg" class="header-logo" alt="logo">
      </a>
    </nav>
  </header>