<%- include('./partials/head') %>

<section class="blogs-content">
    <h1>Blogs</h1>
    <section class="blogs">
        <article class="blogs-blog">
            <img src="assets/blog-tekenen-spelen.jpg" alt="tekenen en spelen">
            <h2>Tekenen en spelen met kinderen (en hun ouders)</h2>
            <span class="blog-info">Toen ik klein was,
                verwonderde ik me over de wereld om me heen en maakte volop gebruik van mijn fantasie. 
                Maar als ik nu de nieuwsgierigheid van mijn achtjarige zoon zie, 
                vraag ik me soms af waar mijn eigen verwondering, 
                creativiteit en concentratie gebleven zijn.
            </span>
            <a href="">
                <div class="blog-button-more">Lees meer</div>
            </a>
        </article>
        <article class="blogs-blog">
            <img src="assets/blog-ontstaan-tekenen.jpg" alt="ontstaan van tekenen">
            <h2>Het ontstaan van de tekenmethode Tekenen, spelen delen</h2>
            <span class="blog-info">Tijdens mijn master ontwierp ik een methode met ‘verbinding’ als centraal thema.
                In eerste instantie wilde ik ouders en kinderen creatiever met elkaar laten communiceren,
                maar de methode bleek ook in andere contexten en met andere doelgroepen te werken.
            </span>
            <a href="">
                <div class="blog-button-more">Lees meer</div>
            </a>
        </article>
        <article class="blogs-blog">
            <img src="assets/blog-interview-docent.jpg" alt="interview docent">
            <h2>Interview met docent Oskar Maarleveld</h2>
            <span class="blog-info">Interview met docent tekenen en vakdidactiek Oskar Maarleveld, 
                seniordocent vakdidactiek aan de Breitner academie en docent tekenen, 
                ckv en theater aan het Fons Vitae Lyceum in Amsterdam.
            </span>
            <a href="">
                <div class="blog-button-more">Lees meer</div>
            </a>
        </article>
        <article class="blogs-blog">
            <img src="assets/blog-3-redenen-vt.jpg" alt="3 redenen waarom visual thinking">
            <h2>3 redenen waarom Visual Thinking waardevol is in het onderwijs</h2>
            <span class="blog-info">Cras mattis consectetur purus sit amet fermentum. 
                Integer posuere erat a ante venenatis dapibus posuere velit aliquet. 
                Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere.
            </span>
            <a href="">
                <div class="blog-button-more">Lees meer</div>
            </a>
        </article>
        <article class="blogs-blog">
            <img src="assets/blog-tips-sketchnote.jpg" alt="tips sketchnoting">
            <h2>Tips bij het gebruik van pijlen in je sketchnotes</h2>
            <span class="blog-info">Cras mattis consectetur purus sit amet fermentum. 
                Integer posuere erat a ante venenatis dapibus posuere velit aliquet. 
                Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere.
            </span>
            <a href="">
                <div class="blog-button-more">Lees meer</div>
            </a>
        </article>
        <article class="blogs-blog">
            <img src="assets/blog-interview-selma.jpg" alt="interview met selma">
            <h2>Interview met Selma Koopman van de Betekenaar</h2>
            <span class="blog-info">Cras mattis consectetur purus sit amet fermentum. 
                Integer posuere erat a ante venenatis dapibus posuere velit aliquet. 
                Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere.
            </span>
            <a href="">
                <div class="blog-button-more">Lees meer</div>
            </a>
        </article>
    </section>
</section>

<%- include('./partials/foot') %>