<%- include('./partials/head') %>

    <main>
        <div class="grid-container">
            <section class="gray1"></section>

            <section class="h3-gray1">
                <img class="img" src="assets/img1.svg" alt="">
            </section>

            <section class="h1">
                <h1>
                    Visual Thinking <br> in het HBO
                </h1>
            </section>

            <section class="gray2"></section>

            <section class="h3-gray2">
                <img class="img" src="assets/img2.svg" alt="">
            </section>

            <section class="red"></section>

            <section class="h3-red">
                <h3>
                    Waarom <br> <em>Visual Thinking?</em>
                </h3>
            </section>

            <section class="h2">
                <h2>
                    <em>Visual Thinking</em> is het gebruik van <br> beelden om je ideeën, <br> concepten en plannen
                    <br> te
                    beschrijven. <br> Ons platform helpt jou ook <br> <em>visual thinker</em> te worden.
                </h2>
            </section>

            <section class="yellow"></section>

            <section class="h3-yellow">
                <h3>
                    Welke <br> <em>methodes</em> <br> zijn er allemaal?
                </h3>
            </section>

            <section class="gray3"></section>

            <section class="h3-gray3">
                <h3 class="black">
                    Minicursus <br> <em>structuur en kleur</em>
                </h3>

                <img class="arrows" src="assets/arrows_black.svg" alt="">
            </section>

            <section class="light-blue"></section>

            <section class="h3-light-blue">
                <h3>
                    Minicursus <br> <em>basisvormen</em>
                </h3>

                <img class="arrows" src="assets/arrows.svg" alt="">
            </section>

            <section class="p">
                <p>
                    Lees meer
                </p>
            </section>

            <section class="blue"></section>

            <section class="h3-blue">
                <h3>
                    Minicursus <br> <em>mensen tekenen</em>
                </h3>

                <img class="arrows" src="assets/arrows.svg" alt="">
            </section>

            <section class="gray4"></section>

            <section class="h3-gray4">
                <h3 class="black">
                    Minicursus <br> <em>handlettering</em>
                </h3>

                <img class="arrows" src="assets/arrows_black.svg" alt="">
            </section>

            <section class="button">
                <button>
                    <img class="arrows" src="assets/arrows.svg" alt="Bekijk hoe het werkt, knop met pijl naar beneden">
                </button>
            </section>

            <section class="gray5"></section>

            <section class="h3-gray5">
                <h3 class="black">
                    Populair <br> <em>Mindmap</em>
                </h3>

                <img class="arrows" src="assets/arrows_black.svg" alt="">
            </section>

            <section class="green"></section>

            <section class="h3-green">
                <h3>
                    Nieuw! <br> <em>Diversiteitscirkel</em>
                </h3>

                <img class="arrows" src="assets/arrows.svg" alt="">
            </section>

            <section class="gray6"></section>

            <section class="h3-gray6">
                <h3 class="black">
                    Uitgelicht <br> <em>Praatplaat</em>
                </h3>

                <img class="arrows" src="assets/arrows_black.svg" alt="">
            </section>
        </div>
    </main>