<section class="categorien">
    <article class="categorie">
        <picture>
            
        </picture>
    </article>
    <article class="categorie">

    </article>
    <article class="categorie">

    </article>
    <article class="categorie">

    </article>
    <article class="categorie">

    </article>
    <article class="categorie">

    </article>
</section>