<%- include('./partials/head') %>

    <main class="about-text">
        <section class="about">
            <h1>Over het platform</h1>

            <h2>
                <em>“Hoe kan ik studenten meer laten tekenen en ze laten inzien dat een tekening een heel geschikt
                    communicatiemiddel is?” vroeg Charley Muhren, docent aan de HvA en ontwerper van de tekenmethode
                    Tekenen,
                    spelen, delen, zich af voordat ze aan dit platform begon.
                </em>
            </h2>

            <h2>
                <em>
                    Ze ontving een Comeniusbeurs voor haar plan om een platform te ontwikkelen waarmee studenten al aan
                    het
                    begin van hun studie zouden leren om tekenen te gebruiken als
                    communicatiemiddel en heeft de afgelopen anderhalf jaar onderzocht welke tekenmethodes geschikt
                    zouden zijn
                    voor studenten en docenten om te gebruiken tijdens hun studie.
                </em>
            </h2>

            <h2>
                <em>
                    Door de werkvormen te categoriseren aan de hand van leerdoelen die weer gekoppeld zijn aan de
                    taxonomie van
                    ‘Betekenisvol leren’ (Dee Fink, 2003), kunnen zowel studenten als docenten gemakkelijk zoeken in
                    welke
                    situatie en met welk doel een tekenmethode te gebruiken is.
                </em>
            </h2>

            <h2>
                <em>
                    In de kennisclips wordt uitgelegd waarom tekenen voor bepaalde doelen goed te gebruiken is en wat de
                    resultaten van de methodes kunnen zijn.
                </em>
            </h2>

            <h2>
                <em>
                    In de mini-cursussen worden de basisprincipes van ‘visual thinking’ uitgelegd en wordt verwezen naar
                    andere
                    visual thinkers en bronnen.
                </em>
            </h2>
        </section>

        <section class="about2">
            <h2> Concept en onderzoek: <em>Charley Muhren</em> </h2>
            <h2> Design research, interaction- en webdesign: <em>Elias Poolman</em> </h2>
            <h2> Visuele identiteit en webdesign: <em>Ramon Boers</em> </h2>
            <h2> Webdevelopment: <em>t.b.a.</em> </h2>
        </section>
    </main>

    <%- include('./partials/foot') %>