:root {
  /* Visual Thinking: Primary Colors:
    Zie kleuren styleguide of eventueel Figma designs voor gebruik! 
    */
  --vtDarkBlue: #090940;
  --vtLightBlue: #67c5d1;
  --vtYellow: #feb51e;
  --vtRed: #f96c4f;

  /* Visual Thinking: Primary Colors Lichtere versies, ongeveer 80%, 50%, 30% en 10% opacity van de originele kleuren ^
    Zie kleuren styleguide of eventueel Figma designs voor gebruik! 
    */
  --vtDarkBlue-80: #3a3a66;
  --vtDarkBlue-50: #6b6b8c;
  --vtDarkBlue-30: #9d9db3;
  --vtDarkBlue-10: #ceced9;

  --vtLightBlue-80: #85d1da;
  --vtLightBlue-50: #a4dce3;
  --vtLightBlue-30: #c2e8ed;
  --vtLightBlue-10: #e1f3f6;

  --vtYellow-80: #fec44b;
  --vtYellow-50: #fed378;
  --vtYellow-30: #ffe1a5;
  --vtYellow-10: #fff0d2;

  --vtRed-80: #fa8972;
  --vtRed-50: #fba795;
  --vtRed-30: #fdc4b9;
  --vtRed-10: #fee2dc;

  /* Visual Thinking: Grijstinten:
    Zie kleuren styleguide of eventueel Figma designs voor gebruik!
     Word vaak gebruikt voor backgrounds en borders. 
    */

  --vtGrey-80: #c0beb9;
  --vtGrey-50: #e0dedc;
  --vtGrey-10: #f9f8f8;

  /* Visual Thinking: Secondary colors,
    Zie kleuren styleguide of eventueel Figma designs voor gebruik! 
    Word gebruikt als steunkleuren bv: kleurcoderen van categorieën
    */

  --vtSec-Red: #af1301;
  --vtSec-Red-30: #fbc5b4;
  --vtSec-Green: #169861;
  --vtSec-Green-30: #63c09f;
  --vtSec-LightBlue: #4fbbc2;
  --vtSec-DarkBlue: #31439c; /* <--- deze kleur is de blauwe balk van de tekenmethodes detailpagina */
  --vtSec-Brown: #8b3a00;
  --vtSec-Orange: #fe6f07;

  /* Visual Thinking: Fonts,
    */

  --vtPrimaryFont: "rigid-square", sans-serif;
  --vtSecondaryFont: "yrsa", serif;
}

/* Breakpoint 1: ongeveer vanaf 496px 
    kleine tablets/andere soort kleine schermen (1 kolom op tekenmethodes pagina)
*/

@media (min-width: 31em) {
}

/* Breakpoint 2: ongeveer vanaf 720px 
    grotere tablets (2 kolom op tekenmethodes pagina)
*/

@media (min-width: 45em) {
}

/* Breakpoint 3: ongeveer vanaf 1088px 
    laptops / iPad 12.9 horizontaal / (3 kolom op tekenmethodes pagina)
*/

@media (min-width: 68em) {
}
