.page {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 20px;

  /* Visual Thinking: Primary Colors:
    Zie kleuren styleguide of eventueel Figma designs voor gebruik! 
    */
  --vtDarkBlue: #090940;
  --vtLightBlue: #67c5d1;
  --vtYellow: #feb51e;
  --vtRed: #f96c4f;
  --vtWhite: #ffffff;

  /* Visual Thinking: Primary Colors Lichtere versies, ongeveer 80%, 50%, 30% en 10% opacity van de originele kleuren ^
    Zie kleuren styleguide of eventueel Figma designs voor gebruik! 
    */
  --vtDarkBlue-80: #3a3a66;
  --vtDarkBlue-50: #6b6b8c;
  --vtDarkBlue-30: #9d9db3;
  --vtDarkBlue-10: #ceced9;

  --vtLightBlue-80: #85d1da;
  --vtLightBlue-50: #a4dce3;
  --vtLightBlue-30: #c2e8ed;
  --vtLightBlue-10: #e1f3f6;

  --vtYellow-80: #fec44b;
  --vtYellow-50: #fed378;
  --vtYellow-30: #ffe1a5;
  --vtYellow-10: #fff0d2;

  --vtRed-80: #fa8972;
  --vtRed-50: #fba795;
  --vtRed-30: #fdc4b9;
  --vtRed-10: #fee2dc;

  /* Visual Thinking: Grijstinten:
    Zie kleuren styleguide of eventueel Figma designs voor gebruik!
     Word vaak gebruikt voor backgrounds en borders. 
    */

  --vtGrey-80: #c0beb9;
  --vtGrey-50: #e0dedc;
  --vtGrey-10: #f9f8f8;

  /* Visual Thinking: Secondary colors,
    Zie kleuren styleguide of eventueel Figma designs voor gebruik! 
    Word gebruikt als steunkleuren bv: kleurcoderen van categorieën
    */

  --vtSec-Red: #af1301;
  --vtSec-Red-30: #fbc5b4;
  --vtSec-Green: #169861;
  --vtSec-Green-30: #63c09f;
  --vtSec-LightBlue: #4fbbc2;
  --vtSec-DarkBlue: #31439c;
  /* <--- deze kleur is de blauwe balk van de tekenmethodes detailpagina */
  --vtSec-Brown: #8b3a00;
  --vtSec-Orange: #fe6f07;

  /* Visual Thinking: Fonts,
    */

  --vtPrimaryFont: "rigid-square", sans-serif;
  --vtSecondaryFont: "yrsa", serif;

  overflow-x: hidden;
  font-family: var(--vtSecondaryFont);
}

/* Breakpoint 0: onder 496px 
    mobile first besties (1 kolom op tekenmethodes pagina)
*/

/* Index page */

/* categorieën */

.categorien {
  display: flex;
  flex-direction: column;
}

.lower h1 {
  display: flex;
  justify-content: center;
  margin: 1em 2.05em;
  font-family: var(--vtPrimaryFont);
}

.categorie h2 {
  display: flex;
  align-items: center;
  font-family: var(--vtPrimaryFont);
}

.categorie .categorie-thumbnail {
  border: 0.1rem solid var(--vtGrey-50);
  max-width: 100%;
}

.categorie .categorie-logo {
  margin-right: 0.5rem;
}

.categorie {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin: 2em 2.05em;
}

.view-method {
  display: none;
}


/* 
    tekenmethodes pagina
*/

.tekenmethodes-main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

/* intro */

.intro {
  display: grid;
  grid:
    ". intro ." 1fr
    / 1fr 5fr 1fr;
  gap: 8px;

  /* background-color: var(--vtGrey); */
  padding-top: 25px;
  padding-bottom: 25px;

  margin-bottom: 75px;
}

.intro-text {
  grid-area: intro;
}

.intro-text h1 {
  margin-bottom: 20px;
}

/*                      
                        DROPDOWN MENU 
*/

.categories {
  display: none;
}

li a {
  text-decoration: none;
  color: var(--vtDarkBlue);
  font-family: var(--vtPrimaryFont);
  font-size: 16px;
  padding-left: 20px;
}

.slide {
  clear: both;
  width: 100%;
  height: 0px;
  overflow: hidden;

  transition: height 0.4s ease;
}

.slide li {
  display: flex;
  align-items: center;
  padding: 30px;
}

.slide li:nth-child(1)::before {
  float: left;
  left: 10%;
  content: url(/assets/0-logo/1-icons/onderzoeken-en-begrijpen.svg);
}

.slide li:nth-child(2)::before {
  float: left;
  right: 10%;
  content: url(/assets/0-logo/1-icons/organiseren-en-plannen.svg);
}

.slide li:nth-child(3)::before {
  float: left;
  left: 10%;
  content: url(/assets/0-logo/1-icons/leren-over-anderen.svg);
}

.slide li:nth-child(4)::before {
  float: left;
  left: 10%;
  content: url(/assets/0-logo/1-icons/leren-over-jezelf.svg);
}

.slide li:nth-child(5)::before {
  float: left;
  left: 10%;
  content: url(/assets/0-logo/1-icons/communiceren.svg);
}

.slide li:nth-child(6)::before {
  float: left;
  left: 10%;
  content: url(/assets/0-logo/1-icons/creatief.svg);
}

.categories-mobile {
  width: 100%;
  background: var(--vtGrey);
  margin: 10px auto;
  margin-bottom: 75px;
}

.categories-mobile span {
  padding: 30px;
  background: var(--vtGrey);
  color: var(--vtDarkBlue);
  font-size: 1.2em;
  cursor: pointer;
  display: block;
  font-family: var(--vtPrimaryFont);
  font-weight: 800;
  font-size: 16px;
}

.categories-mobile span::after {
  float: right;
  right: 10%;
  content: url(/assets/0-logo/1-icons/arrow-down.svg);
}

#touch {
  position: absolute;
  opacity: 0;
  height: auto;
}

#touch:checked + .slide {
  height: auto;
}

/* 
                  METHODS */

.methods {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.methods img {
  width: 300px;
  border: 1px solid;
  border-color: var(--vtGrey-50);
}

.methods-titles {
  width: 80%;
  margin-top: 20px;
  word-break: break-word;
}

/*
                        RESPONSIVE TABLET  
*/
@media (min-width: 31em) {
  /* Index page */

  /* categorieën */
  .categorie h2 {
    font-size: 1.2em;
  }

  .view-method {
    display: flex;
    font-weight: bold;
    flex-direction: column;
    margin-top: 0.83em;
  }

  .categorie span {
    font-size: 1em;
  }


  .content {
    padding: 0 50px;
  }

  .toggler {
    display: none;
  }

  nav {
    display: block !important; /* prevent the nav to hide when resize */
    position: relative;
    width: auto;
    float: right;
    padding: 5px 0;
  }

  nav ul {
    float: left;
  }

  nav ul li {
    display: inline-block;
    padding-right: 30px;
    padding-top: 5px;
    color: var(--vtDarkBlue);
    font: var(--vtMenuFont);
  }

  .account {
    padding-left: 30px;
    padding-bottom: 15px;
  }
  /* 
                   DROPDOWN */

  .categories {
    display: none;
  }

  li a {
    text-decoration: none;
    color: var(--vtDarkBlue);
    font-family: var(--vtPrimaryFont);
    font-size: 18px;
    padding-left: 20px;
  }
}

/* 
    footer
*/

* {
  margin: 0;
  padding: 0;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--vtGrey-10);
  padding: 50px;
}

footer ul li {
  list-style: none;
  font-family: var(--vtPrimaryFont);
  font-size: 1em;
  font-weight: 400;
  color: var(--vtDarkBlue);
  padding: 10px;
}

.footer-bold {
  font-weight: 600;
}

.footer-col-logo {
  width: 100%;
}

.footer-col-1 {
  margin-top: 50px;
}

.footer-col-2 {
  margin-top: 50px;
}

.footer-col-3 {
  margin-top: 50px;
}

.footer-social-media {
  padding: 15px;
}

.footer-social-media:nth-of-type(1) {
  padding-left: 0px;
}
@media (min-width: 45em) {

  /* Index page */

  /* categorieën */
  .categorien {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5rem;
    grid-row-gap: 2rem;
    max-width: 100%;
    margin: 0 2.05rem;
  }

  .categorie {
    margin: 0;
  }

  .categorie h2 {
    font-size: 1.2em;
  }

  .categorie span {
    font-size: 0.85em;
  }

  .categories {
    display: none;
  }
  /* 
                            methodes 
                            */

  .tekenmethodes-main {
    display: grid;
    grid:
      ". methods ." 1fr
      / 0.5fr 3fr 0.5fr;
    grid-auto-flow: dense; /* fill in empty cells */
    margin-bottom: 100px;
  }

  .methods {
    grid-area: methods;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 25px;
  }

  .methods img {
    width: 100%;
    height: auto;
    border: 1px solid;
    border-color: var(--vtGrey-50);
  }
  /* 
    footer
*/
  footer {
    width: 100%;
    display: grid;
    grid:
      "logo ." auto
      "col-1 col-3" auto
      "col-2 ." auto
      / 1fr 1fr;
    gap: 10px;
  }

  .footer-col-logo {
    grid-area: logo;
    width: 100%;
    height: auto;
  }

  .footer-col-1 {
    grid-area: col-1;
  }

  .footer-col-2 {
    grid-area: col-2;
  }

  .footer-col-3 {
    grid-area: col-3;
  }
}

/* Breakpoint 3: ongeveer vanaf 1088px 
    laptops / iPad 12.9 horizontaal / (3 kolom op tekenmethodes pagina)
*/

@media (min-width: 68em) {
  /* Categorien index page */
   /* Index page */

  /* categorieën */
  .categorien {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 8rem;
    grid-row-gap: 3rem;
    max-width: 100%;
    margin: 0 4.1rem;
    align-items: center;
  }

  .categorie h2 {
    font-size: 1.35em;
    margin: 0.5em 0;
  }

  .categorie span {
    font-size: 1em;
  }

  .lower h1 {
    font-size: 32px;
  }

  .lower {
    margin: 3em 0;
  }


  /* 
    tekenmethodes pagina
*/

  .intro {
    display: grid;
    grid:
      ". intro ." 1fr
      / 0.75fr 3fr 0.75fr;
    gap: 8px;

    /* background-color: var(--vtGrey); */
    padding-top: 25px;
    padding-bottom: 25px;

    margin-bottom: 75px;
  }

  .intro-text {
    grid-area: intro;
  }

  .intro-text h1 {
    font-size: 40px;
  }

  .intro-text p {
    font-size: 20px;
  }

  /* 
                  CATEGORIEEE */

  .categories-mobile {
    display: none;
  }

  .categories {
    display: grid;
    grid:
      ". category ." 1fr
      / 1fr 4fr 1fr;
    margin-bottom: 50px;
  }

  .categories-container {
    grid-area: category;
  }

  li a {
    text-decoration: none;
    color: var(--vtDarkBlue);
    font-family: var(--vtPrimaryFont);
    font-size: 20px;
    padding-left: 40px;
  }

  .categorie-names li {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    list-style: none;
    flex: 0 0 calc(33.33% - 20px);
  }

  .categorie-names {
    display: flex;
    flex-wrap: wrap;
  }

  .categorie-names li:nth-child(1)::before {
    left: 10%;
    content: url(/assets/0-logo/1-icons/onderzoeken-en-begrijpen.svg);
  }

  .categorie-names li:nth-child(2)::before {
    right: 10%;
    content: url(/assets/0-logo/1-icons/organiseren-en-plannen.svg);
  }

  .categorie-names li:nth-child(3)::before {
    left: 10%;
    content: url(/assets/0-logo/1-icons/leren-over-anderen.svg);
  }

  .categorie-names li:nth-child(4)::before {
    left: 10%;
    content: url(/assets/0-logo/1-icons/leren-over-jezelf.svg);
  }

  .categorie-names li:nth-child(5)::before {
    left: 10%;
    content: url(/assets/0-logo/1-icons/communiceren.svg);
  }

  .categorie-names li:nth-child(6)::before {
    left: 10%;
    content: url(/assets/0-logo/1-icons/creatief.svg);
  }

  /*
                                  methods 
    */

  .tekenmethodes-main {
    display: grid;
    grid:
      ". methods ." 1fr
      / 0.75fr 3fr 0.75fr;
    grid-auto-flow: dense; /* fill in empty cells */
    margin-bottom: 100px;
  }

  .methods {
    grid-area: methods;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 25px;
  }

  .methods img {
    width: 100%;
    height: auto;
    border: 1px solid;
    border-color: var(--vtGrey-50);
  }

  .methods-titles h2 {
    font-family: var(--vtPrimaryFont);
    font-size: 24px;
    color: var(--vtDarkBlue);
    width: 80%;
  }
  /* 
    load more
*/

  /* 
    footer
*/
  footer {
    display: grid;

    display: grid;
    grid:
      "logo col-1 col-2 col-3" auto
      / 1fr 1fr 1fr 1fr;
    gap: 10px;
  }

  .footer-col-logo {
    grid-area: logo;
    width: 100%;
    height: auto;
  }

  .footer-col-1 {
    grid-area: col-1;
    margin-top: 0px;
  }

  .footer-col-2 {
    grid-area: col-2;
    margin-top: 0px;
  }

  .footer-col-3 {
    grid-area: col-3;
    margin-top: 0px;
  }

  /* 
    homepage by marco
*/

  .gray1,
  .gray2,
  .gray3,
  .gray4,
  .gray5,
  .gray6 {
    background: var(--vtGrey-50);
  }

  .red {
    background: var(--vtRed);
  }

  .yellow {
    background: var(--vtYellow);
  }

  .light-blue {
    background: var(--vtLightBlue);
  }

  .blue {
    background: var(--vtSec-DarkBlue);
  }

  .green {
    background: var(--vtSec-Green);
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto;
    margin-top: 1%;
    justify-content: center;
  }

  .h1 {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 1;
    /* height: 168px; */
  }

  .h2 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
  }

  .p {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
    margin-bottom: 23%;
    opacity: 50%;
    display: grid;
    align-items: flex-end;
  }

  .button {
    z-index: 1;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
    margin-top: 65%;
  }

  .gray1,
  .h3-gray1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
  }

  .gray2,
  .h3-gray2 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
  }

  .gray3,
  .h3-gray3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
  }

  .gray4,
  .h3-gray4 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 3;
  }

  .gray5,
  .h3-gray5 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
  }

  .gray6,
  .h3-gray6 {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 4;
  }

  .red,
  .h3-red {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
  }

  .yellow,
  .h3-yellow {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 2;
  }

  .light-blue,
  .h3-light-blue {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
  }

  .blue,
  .h3-blue {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 3;
  }

  .green,
  .h3-green {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 4;
  }
  /* 
  .gray1,
  .gray2,
  .h3-gray1,
  .h3-gray2 {
    margin-top: -20%;
  } */

  .red,
  .yellow,
  .h3-red,
  .h3-yellow {
    margin-top: -7%;
  }

  .h2 {
    margin-top: -25%;
  }

  .light-blue,
  .blue,
  .h3-light-blue,
  .h3-blue,
  .gray3,
  .gray4,
  .h3-gray3,
  .h3-gray4 {
    margin-top: -7%;
  }

  .green,
  .h3-green,
  .gray5,
  .gray6,
  .h3-gray5,
  .h3-gray6 {
    margin-top: -7%;
  }

  .h3-red,
  .h3-yellow,
  .h3-light-blue,
  .h3-blue,
  .h3-green,
  .h3-gray3,
  .h3-gray4,
  .h3-gray5,
  .h3-gray6 {
    margin-bottom: 7%;
  }

  .h3-gray1,
  .h3-gray2 {
    margin-bottom: 0%;
  }

  .h3-gray5,
  .h3-gray6,
  .h3-green {
    margin-top: 33%;
    margin-right: 7%;
  }

  .h3-red,
  .h3-yellow,
  .h3-light-blue,
  .h3-blue,
  .h3-green,
  .h3-gray1,
  .h3-gray2,
  .h3-gray3,
  .h3-gray4,
  .h3-gray5,
  .h3-gray6 {
    z-index: 1;
    display: grid;
    text-align: center;
    justify-items: center;
    align-content: center;
  }

  .red,
  .yellow,
  .light-blue,
  .blue,
  .green,
  .gray1,
  .gray2,
  .gray3,
  .gray4,
  .gray5,
  .gray6 {
    width: 300px;
    height: 275px;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    transform: rotate(90deg);
  }

  .h3-gray5,
  .h3-gray6,
  .h3-green {
    transform: rotate(270deg);
  }

  em {
    font-family: var(--vtPrimaryFont);
    font-style: normal;
    font-weight: 400;
  }

  h3 em {
    font-size: 1.3rem;
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }

  .logo {
    padding: 1rem;
    padding-left: 3rem;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navmain ul,
  .navheader ul {
    display: flex;
    align-items: center;

    list-style: none;
  }

  .navmain li,
  .navheader li {
    padding: 0.6rem;
    font-size: 1rem;

    font-family: var(--vtPrimaryFont);
    color: var(--vtDarkBlue);
    font-weight: bolder;
  }

  .navheader {
    display: flex;
    align-items: center;
    padding-right: 3rem;
  }

  .navheader li {
    padding: 1.4rem;
  }

  .navmain {
    display: flex;
    justify-content: space-between;

    margin-top: -1rem;
    margin-bottom: -1rem;
  }

  .navmain li {
    color: var(--vtSec-DarkBlue);
    text-transform: uppercase;
    font-family: var(--vtPrimaryFont);
  }

  .navmain ul {
    padding-right: 4rem;
  }

  .img {
    width: 290px;
    height: 210px;
  }

  h1 {
    font-size: 3.157rem;
    font-family: var(--vtPrimaryFont);
    color: var(--vtDarkBlue);
    margin-top: 5%;
  }

  h2 {
    font-size: 1rem;
    font-family: var(--vtSecondaryFont);
    line-height: 1.5rem;
    color: var(--vtDarkBlue);
  }

  .h1-detail {
    padding-left: 6.7rem;
  }

  .h2-detail,
  .bold {
    font-size: 1rem;
    font-weight: 400;

    font-family: var(--vtPrimaryFont);
    color: var(--vtSec-DarkBlue);
  }

  .bold {
    font-weight: 800;
    text-decoration: underline;
    text-decoration-thickness: 0.2rem;
    text-underline-offset: 0.5rem;
  }

  h3 {
    font-size: 1.2rem;
    font-family: var(--vtSecondaryFont);
    line-height: 1.5rem;
    color: var(--vtWhite);
  }

  .text {
    /* margin-left: -27.5rem;
  margin-top: 0.75rem; */

    max-width: 35rem;

    font-size: 1rem;
    font-family: var(--vtSecondaryFont);
    color: var(--vtSec-DarkBlue);
  }

  blockquote {
    color: var(--vtSec-Orange);
    font-family: var(--vtPrimaryFont);
    margin-top: -1rem;
  }

  h4 {
    font-size: 1rem;
    font-family: var(--vtPrimaryFont);
    line-height: 1.5rem;
    color: var(--vtDarkBlue);
  }

  p {
    font-size: 1rem;
    font-family: var(--vtPrimaryFont);
    text-transform: uppercase;
  }

  h3 p {
    color: var(--vtSec-DarkBlue);
    font-family: var(--vtSecondaryFont);
    text-transform: none;
  }

  button {
    width: 72px;
    height: 66px;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    transform: rotate(90deg);
    border: none;
    background: var(--vtYellow);
  }

  .arrows {
    margin-bottom: -7%;
  }

  .black {
    color: var(--vtDarkBlue);
  }

  .h1,
  .h2,
  .p,
  .button {
    text-align: center;
  }

  .about-text,
  .about {
    display: grid;
    justify-items: center;
  }

  .about,
  .about2 {
    width: 60%;
  }

  .line {
    background-color: var(--vtSec-DarkBlue);
    color: var(--vtWhite);

    text-transform: uppercase;
    font-family: var(--vtPrimaryFont);
    font-size: 0.75rem;

    padding-left: 7rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;

    margin-top: 0px;
  }

  .arrows-line {
    width: 1%;
    transform: rotate(180deg);
  }

  .flex-b,
  .flex-s {
    display: flex;
    justify-content: space-evenly;
  }

  .flex-b {
    padding-left: 4.7rem;
  }

  .flex-s {
    padding-left: 30.7rem;
  }

  .flex-b .template-url {
    margin-left: 0rem;
  }

  .template-url {
    width: calc(39.8rem / 1.3);
    height: calc(27rem / 1.3);

    margin-left: 6.6rem;
  }

  .carousel {
    position: relative;
    height: 27.5rem;
    width: 100%;
    margin: 0 auto;
  }

  .carousel-img-blur {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(0.2rem);
    position: absolute;
  }

  .carousel-img {
    z-index: 1;
  }

  .carousel-container {
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  .carousel-list {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .carousel-slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;

    display: flex;
    justify-content: center;
  }

  .carousel-button-left,
  .carousel-button-right {
    position: absolute;
    top: 50%;
    /* transform: translateY(-50%); */
    background: var(--vtYellow);
    border: 0;
    cursor: pointer;
    z-index: 1;
    padding: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .carousel-button-left:active,
  .carousel-button-right:active {
    animation-name: big;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-duration: 0.2s;
    animation-iteration-count: 1;
  }

  .carousel-button-right {
    right: 0%;
    margin-right: 9rem;
  }

  .carousel-button-left {
    margin-left: 9rem;
  }

  .carousel-button-left img {
    transform: rotate(90deg);
  }

  .carousel-button-right img {
    transform: rotate(270deg);
  }

  .tags-b {
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .tags-s {
    margin-top: 2.5rem;
  }

  .tag {
    background-color: var(--vtYellow);
    color: var(--vtDarkBlue);
    font-family: var(--vtPrimaryFont);
    font-size: 0.8rem;
    font-weight: bolder;

    padding: 0.3rem;
    margin-left: 0.8rem;
    max-width: fit-content;
  }

  .full-s .tag {
    margin-left: 0rem;
  }

  .tag-hollow {
    background-color: var(--vtYellow);
    color: var(--vtDarkBlue);
    font-family: var(--vtPrimaryFont);
    font-size: 0.8rem;
    font-weight: bolder;

    padding: 0.3rem;
    margin-left: 0.8rem;

    opacity: 50%;
  }

  .full-b {
    flex-direction: column;
    padding-right: 8rem;
    margin-top: -20rem;
  }

  .full-s {
    justify-content: flex-start;
    margin-left: 6rem;
    margin-top: -2.5rem;
    max-width: 50%;
  }

  .full-b,
  .full-s {
    display: flex;
    margin-left: 8rem;
  }

  .icon {
    width: 6.5%;
    height: 94.5%;
  }

  .columntag {
    display: flex;
    margin-left: -0.8rem;
  }

  .step h3 {
    font-size: 1.2rem;
    color: var(--vtDarkBlue);
    font-family: var(--vtPrimaryFont);
  }
}
